body {
  margin: 0;
  padding: 0;
  background: url("images/Background2.png");
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px 0px 50px;
  height: 80px;
  align-items: center;
}

.navbar-1 {
  display: flex;
  align-items: center;
  gap: 160px;
}
.links {
  display: flex;
  gap: 50px;
  font-size: 20px;
  color: orange;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.icons {
  display: flex;
  gap: 30px;
}

.icons i {
  font-size: 20px;
  color: black;
}

.hero {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-top: 80px;
}

.left {
  display: flex;
  color: white;
  flex-direction: column;
  padding-left: 200px;
  align-items: start;
}

.left1 {
  font-size: 30px;
  font-style: italic;
}

.left2 {
  font-size: 85px;
  font-weight: 600;
}

.left3 {
  font-size: 27px;
  font-style: italic;
  color: orange;
  margin-bottom: 15px;
}

.left4 {
  border: 2px solid white;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  padding: 5px;
}

.right {
  background: url("images/food.png");
  width: 500px;
  height: 500px;
  background-size: cover;
  border: 2px solid white;
  border-radius: 500px;
}

.items {
  display: flex;
  padding-left: 150px;
  margin-top: -50px;
  gap: 20px;
}
.item1,
.item2,
.item3,
.item4 {
  border: 2px solid white;
  width: 120px;
  height: 120px;
  border-radius: 500px;
}

.item1 {
  background: url("images/food1.png");
  background-size: cover;
}

.item2 {
  background: url("images/food2.png");
  background-size: cover;
}

.item3 {
  background: url("images/food3.png");
  background-size: cover;
}

.item4 {
  background: url("images/food4.png");
  background-size: cover;
}
